@import "tailwindcss";

:root {
  --color-primary: #1e40af;
  --color-primary-hover: #1e3a8a;
  --color-primary-light: #dbeafe;

  --bg-main: #f9fafb;
  --bg-card: #ffffff;

  --text-primary: #111827;
  --text-secondary: #4b5563;
  --text-muted: #9ca3af;

  --border-color: #e5e7eb;

  --accent-secondary: #0891b2;
  --success: #059669;
  --error: #dc2626;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-light: var(--color-primary-light);

  --color-bg-main: var(--bg-main);
  --color-bg-card: var(--bg-card);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border-color);

  --color-accent-secondary: var(--accent-secondary);
  --color-success: var(--success);
  --color-error: var(--error);

  --font-heading: var(--font-playfair-display);
  --font-body: var(--font-lexend);
}

body {
  background: var(--bg-main);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair-display);
}
