@import "tailwindcss";

:root {
  --color-primary: #3e2723;
  --color-primary-hover: #1b0e0a;
  --color-primary-light: #d7ccc8;

  --bg-main: #efebe9;
  --bg-card: #fafafa;

  --text-primary: #1b0e0a;
  --text-secondary: #4e342e;
  --text-muted: #795548;

  --border-color: #d7ccc8;

  --accent-secondary: #5d4037;
  --success: #2e7d32;
  --error: #c62828;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-light: var(--color-primary-light);

  --color-bg-main: var(--bg-main);
  --color-bg-card: var(--bg-card);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border-color);

  --color-accent-secondary: var(--accent-secondary);
  --color-success: var(--success);
  --color-error: var(--error);

  --font-heading: var(--font-playfair-display);
  --font-body: var(--font-lexend);
}

body {
  background: var(--bg-main);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair-display);
}
