@import "tailwindcss";

:root {
  --color-primary: #8b5e3c;
  --color-primary-hover: #714a30;
  --color-primary-light: #d9c7b8;

  --bg-main: #faf9f6;
  --bg-card: #ffffff;

  --text-primary: #2a2a2a;
  --text-secondary: #5a5a5a;
  --text-muted: #7a7a7a;

  --border-color: #e6e2dd;

  --accent-secondary: #c8a675;
  --success: #3b7f3b;
  --error: #b84c3a;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-light: var(--color-primary-light);

  --color-bg-main: var(--bg-main);
  --color-bg-card: var(--bg-card);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border-color);

  --color-accent-secondary: var(--accent-secondary);
  --color-success: var(--success);
  --color-error: var(--error);

  --font-heading: var(--font-playfair-display);
  --font-body: var(--font-lexend);
}

body {
  background: var(--bg-main);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair-display);
}
