@import "tailwindcss";

:root {
  /* Primary (Apple Blue) */
  --color-primary: #007aff;
  --color-primary-hover: #005ecb;
  --color-primary-light: #e6f0ff;

  /* Backgrounds */
  --bg-main: #ffffff;
  --bg-card: #ffffff;

  /* Text */
  --text-primary: #1c1c1e;
  --text-secondary: #3a3a3c;
  --text-muted: #8e8e93;

  /* Borders */
  --border-color: #d1d1d6;

  /* Accents */
  --accent-secondary: #34c759; /* iOS green */
  --success: #34c759;
  --error: #ff3b30;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-light: var(--color-primary-light);

  --color-bg-main: var(--bg-main);
  --color-bg-card: var(--bg-card);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border-color);

  --color-accent-secondary: var(--accent-secondary);
  --color-success: var(--success);
  --color-error: var(--error);

  --font-heading: var(--font-playfair-display);
  --font-body: var(--font-lexend);
}

body {
  background: var(--bg-main);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair-display);
  font-weight: bold;
}

/* okk  */